################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wyrm/Wyrm/bin/Debug/net10.0
/Wyrm/Wyrm/obj/Debug/net10.0
/Wyrm/Wyrm/obj
/.vs
/Wyrm/.vs
/Wyrm/Wyrm/*.db
/Wyrm/Wyrm/*.db-shm
/Wyrm/Wyrm/*.db-wal
