@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<p class="glass-text">
    If an account exists with that email address, a password reset link will have been emailed to it.
</p>

<p class="glass-text">
  That email is time sensitive if you do not use it promptly it will expire and you will need to revisit 
  the forgot password page to generate another link.
</p>

<a id="resend-confirmation" asp-page="./Login">Back to the logon page</a>