@page
@model FirstApp.Pages.PropertyTypes.EditModel

@{
    ViewData["Title"] = "Edit Property Type";
}

<div class="card mt-5">
    <div class="card-header">
        <h4 class="mb-0">Edit Property Type</h4>
    </div>
    <div class="card-body">
        <form method="post" id="propertyTypeForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyType.Id" />
            <input type="hidden" asp-for="PropertyType.CreatedById" />
            <input type="hidden" asp-for="PropertyType.CreatedAt" />
            <input type="hidden" asp-for="PropertyType.UpdatedById" />
            <input type="hidden" asp-for="PropertyType.UpdatedAt" />
            <input type="hidden" asp-for="PropertyType.ObjectTypeId" />
            <div class="form-group mb-3">
                <label asp-for="PropertyType.Name" class="control-label"></label>
                <input asp-for="PropertyType.Name" class="form-control" />
                <span asp-validation-for="PropertyType.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PropertyType.Description" class="control-label"></label>
                <textarea asp-for="PropertyType.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="PropertyType.Description" class="text-danger"></span>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <button type="submit" form="propertyTypeForm" class="btn btn-primary btn-sm">Save</button>
        <a asp-page="./Index" class="btn btn-secondary btn-sm">Cancel</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

