@page
@model FirstApp.Areas.Reader.Pages.IndexModel

@{
    ViewData["Title"] = "Reader";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Index">
                <i class="fa-solid fa-home"></i> Home
            </a>
        </li>
    </ol>
</nav>

<div class="card shadow">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h4 class="mb-0">Reader</h4>
        </div>
    </div>
    <div class="card-body">
        <p>Read and consume published data models.</p>
    </div>
</div>
